/* Cancionero */
.cancion{
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
 }

 .cancion p{
    text-align: center;
    width: 300px;
    margin: 25px;
    padding: 25px;
 }

 .cancion h3{
    margin-top: 50px;
    text-align: center;
 }

 .cancion iframe{
    width: 300px;
    height: 150px;
 }
 
 @media(min-width: 768px){
    .cancion p{
        width: 350px;
    }
    .cancion iframe{
        width: 560px;
        height: 315px;
    }
 }