/* Footer */
footer {
    max-width: 100%;
    background-color: rgb(91, 101, 113);
    color: white;
    .redes {
        display: flex;
        justify-content: center ;
        gap: 20px;
        font-size: 20px;
        a:hover{
            color: gold;
            font-size: 25px;
            transition: ease-in .1s;
        }
      }
    h6{
        a:hover{
            color: gold;
            font-weight: 700;
            transition: ease-in .2s;
        }
    }
}