/* Footer */
footer {
    max-width: 100%;
    background-color: rgb(91, 101, 113);
    color: white;
    .redes {
        display: flex;
        justify-content: center ;
        gap: 20px;
        font-size: 20px;
      }
  }
