/* Plantel */
.img-tres{
    background-image: url(../img/escudo3.jfif);
    margin: 50px 0;
    color: black;
}
.submenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    a{
        color: black;
        font-weight: 700;
        background-color: rgba(132, 137, 74,0.9);
        padding: 5px 5px;
        border-radius: 5px;
        gap: 10px;
    }
    a{
        transition: ease-in .2s;
    }
    a:hover{
        color: gold;
        font-weight: 500;
    }
}

@media(min-width: 768px){
    .submenu{
        flex-direction: row;
        gap: 45px;
    }

}